body {
  /*background: #F5F6F6;*/
  background: white;
  color: #55606a;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  padding-top: 50px;
  /* Add top padding for navbar-top-fixed */
  padding-bottom: 30px;
  /* Add top padding for navbar-top-fixed */
  height: 100%; }
  body a:focus {
    outline: 0;
    border: 10px solid red; }
  body .nav-collapse .nav > li {
    float: left; }
  body .navbar-fixed-top .navbar-inner,
  body .navbar-inner {
    background-color: white;
    background-image: none;
    border-radius: 0;
    border: none;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
    body .navbar-fixed-top .navbar-inner h1,
    body .navbar-inner h1 {
      line-height: 0; }
      body .navbar-fixed-top .navbar-inner h1 a.brand,
      body .navbar-inner h1 a.brand {
        margin-left: 0;
        margin-top: 7px;
        padding-left: 0;
        background: url("../../templates/img/osv-logo.png") 0 0 no-repeat;
        width: 266px;
        height: auto;
        display: block; }
        body .navbar-fixed-top .navbar-inner h1 a.brand .strapline,
        body .navbar-inner h1 a.brand .strapline {
          font-family: 'Open Sans', sans-serif;
          font-size: 10px;
          margin-left: 26px;
          margin-left: 4px;
          line-height: 9em; }
    body .navbar-fixed-top .navbar-inner .nav,
    body .navbar-inner .nav {
      display: block;
      position: relative;
      margin-right: 10px; }
      body .navbar-fixed-top .navbar-inner .nav .icon-home,
      body .navbar-inner .nav .icon-home {
        display: none; }
      body .navbar-fixed-top .navbar-inner .nav a,
      body .navbar-inner .nav a {
        -webkit-transition: 1s all ease;
        -moz-transition: 1s all ease;
        transition: 1s all ease;
        border-bottom: 3px solid white;
        text-transform: uppercase; }
        body .navbar-fixed-top .navbar-inner .nav a:hover,
        body .navbar-inner .nav a:hover {
          background-color: #FFFFFF; }
      body .navbar-fixed-top .navbar-inner .nav .active > a,
      body .navbar-inner .nav .active > a {
        background-color: transparent;
        box-shadow: none;
        border-bottom: 3px solid #81983c; }
      body .navbar-fixed-top .navbar-inner .nav .active a:hover,
      body .navbar-inner .nav .active a:hover {
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none; }
  body #wrap {
    margin-bottom: -53px;
    height: auto !important;
    min-height: 100%; }
  body #push, body #footer {
    height: 53px; }
  body #footer {
    position: relative; }
  body .page {
    padding: 25px 0 100px 0;
    position: relative;
    z-index: 99; }
  body .alt-page {
    background-color: #81983c; }
  body .hero-unit {
    background-color: white;
    border-radius: 0;
    -webkit-border-radius: 0;
    padding-left: 0;
    padding-right: 0; }
  body .nav-pills {
    border-bottom: 1px solid #cccccc; }
  body .nav-pills > li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  body .nav-pills > li > a {
    color: #55606a; }
    body .nav-pills > li > a.selected, body .nav-pills > li > a:hover,
    body .nav-pills > li > a a:focus {
      background-color: #FFFFFF;
      color: #81983c;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0; }
  body section {
    min-height: 600px; }
  body #home {
    position: relative;
    overflow: hidden;
    /*background: url('../../templates/img/ring-home.jpg') 50% 50% no-repeat;*/
    width: 100%;
    top: -10px;
    min-height: 600px; }
    body #home img {
      width: 100%;
      height: 100%; }
  body #gallery .thumbnails {
    /*			max-height: 400px;
    			overflow-y: scroll;*/
    border: 0; }
    body #gallery .thumbnails a {
      padding: 0;
      /*	border: 0 !important;*/
      display: inline-block;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0; }
    body #gallery .thumbnails a.thumbnail:hover,
    body #gallery .thumbnails a.thumbnail:focus {
      border: 1px solid #81983c !important;
      -webkit-box-shadow: 0 1px 4px rgba(80, 106, 4, 0.25);
      -moz-box-shadow: 0 1px 4px rgba(80, 106, 4, 0.25);
      box-shadow: 0 1px 4px rgba(80, 106, 4, 0.25);
      background-color: #FFFFFF; }

.footnote {
  font-size: 0.8em; }

.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.modal.fade {
  -webkit-transition: opacity 0.5s linear, 0.3s ease-out;
  -moz-transition: opacity 0.5s linear, 0.3s ease-out;
  -o-transition: opacity 0.5s linear, 0.3s ease-out;
  transition: opacity 0.5s linear, 0.3s ease-out;
  top: 25%; }

.modal {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0; }
  .modal .modal-body {
    padding: 0; }
    .modal .modal-body h4 {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 14px; }
  .modal .modal-footer {
    border-top: 0;
    background-color: white; }

/* Button override */
.modal .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  padding: 8px;
  color: #55606a;
  background-color: white;
  border: 1px solid #cccccc;
  background-image: none; }
.modal .btn-primary {
  background-image: none;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none; }
  .modal .btn-primary:hover, .modal .btn-primary:focus, .modal .btn-primary:active, .modal .btn-primary.active, .modal .btn-primary.disabled, .modal .btn-primary[disabled] {
    background-color: white;
    border: 1px solid #81983c;
    color: #55606a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none; }

/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 100px; }
    body .navbar-fixed-top {
      position: fixed; }
      body .navbar-fixed-top .navbar-inner h1 a.brand {
        margin-left: 35px;
        margin-top: 0; }
      body .navbar-fixed-top .navbar-inner .btn-navbar {
        margin-right: 30px;
        text-shadow: none;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        background-color: #FFFFFF;
        border: 0;
        background-image: none; }
        body .navbar-fixed-top .navbar-inner .btn-navbar .icon-bar {
          margin-bottom: 4px;
          text-shadow: none;
          -webkit-text-shadow: none;
          -moz-text-shadow: none;
          background-color: #CCCCCC;
          border: none;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0; }
      body .navbar-fixed-top .navbar-inner:hover {
        background-color: #FFFFFF; }
      body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right {
        margin-left: 24px; }
        body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right .nav > li {
          float: left; }
          body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right .nav > li .active > a {
            display: inline-block;
            padding-left: 0 !important; }
          body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right .nav > li a {
            padding-left: 0;
            width: auto; }
            body .navbar-fixed-top .navbar-inner .nav-collapse .pull-right .nav > li a:hover {
              background-color: transparent; } }
@media (max-width: 480px) {
  .page {
    /*padding-top: 0;*/ }
    .page .nav-collapse {
      /*overflow: visible;
      height: auto;*/ }
      .page .nav-collapse .nav > li {
        float: left; }
        .page .nav-collapse .nav > li a:hover,
        .page .nav-collapse .nav > li a:focus {
          background-color: #FFFFFF; }
    .page .active > a {
      border-bottom: none; }
    .page #home img {
      /*margin-top: 20% !important;*/ } }
@media (max-width: 320px) {
  .nav-collapse {
    /*overflow: visible;
    height: auto;*/ }
    .nav-collapse .nav > li {
      float: left; }
      .nav-collapse .nav > li a:hover,
      .nav-collapse .nav > li a:focus {
        background-color: #FFFFFF; } }
